.Main-chat__main-messages__box-1
  .Main-chat__main-messages__box-1__name
    = message.user.name
  .Main-chat__main-messages__box-1__date
    = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
.Main-chat__main-messages__box-2
  .Main-chat__main-messages__box-2__comment
    - if message.content.present?
      %p.Message__content
        = message.content
    = image_tag message.image.url, class: 'Message__image' if message.image.present?