.Chat-side
  .Chat-side__side-header
    .Chat-side__side-header__box
      .Chat-side__side-header__box__user-name
        = current_user.name 
      .Chat-side__side-header__box__icon
        =link_to "#" do
          =icon('far', 'edit',class: 'Chat-side__side-header__box__icon__strong-1') 
        =link_to edit_user_path(current_user)  do 
          =icon('fas', 'cog',class: 'Chat-side__side-header__box__icon__strong-2')
  .Chat-side__side-group
    .Chat-side__side-group__box
      .Chat-side__side-group__box__group-name
        techcamp
      .Chat-side__side-group__box__group-messages
        まだメッセージがありません